<!--
  Generated template for the ListacarteraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> {{cli_nombre}}</ion-title>
   
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchfav" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let item of (carteras ? carteras.slice(0,20) : [])" (click)="creasuceso($event,item)">
      <ion-item>
        <h2>
          {{item.tipo}}-{{item.numero}}, Saldo: {{item.saldo}}
        </h2>
        <p>
          Fecha:{{item.fecha | date:'dd MM yyyy'}}, Dias: {{item.dias}} : {{item.estado}}
        </p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" icon-start>
          Más ...
        </button>
        <button ion-button color="primary" icon-start (click)="itemTapped($event,item)">
          Suceso
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from
    <b>{{selectedItem.cli_nombre}}</b>
  </div>
</ion-content>