<!--
  Generated template for the cotizacionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>cotizacion</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon name="apps"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label fixed>Cliente</ion-label>
      <ion-input type="text" name="cli_nombre" [readonly]=true [(ngModel)]="cliente.cli_nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Dirección</ion-label>
      <ion-input type="text" name="direccionentr" [(ngModel)]="cotizacion.direccionentr"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Numero</ion-label>
      <ion-input type="text" name="cot_numero" [readonly]=true [(ngModel)]="cotizacion.cot_numero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Fecha Entrega</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" name="cot_fec_ent" [(ngModel)]="cotizacion.cot_fec_ent"></ion-datetime>
    </ion-item>


    <ion-item *ngIf="verformapago">
      <ion-label>Forma Pago</ion-label>
      <ion-select [(ngModel)]="cotizacion.formapago">>
        <ion-option value="Contado">Contado</ion-option>
        <ion-option value="Credito">Credito</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!verformapago">
      <ion-label fixed>Lista Precio</ion-label>
      <ion-input type="text" name="listaprecio" [(ngModel)]="listaprecio" [readonly]=true></ion-input>
    </ion-item>

    <ion-item *ngIf="!verformapago">
      <ion-label fixed>Descuento</ion-label>
      <ion-input type="text" name="descuento" [(ngModel)]="cotizacion.descuento" [readonly]=true></ion-input>
    </ion-item>

    <ion-item *ngIf="cotizacion.formapago == 'Contado'">
      <ion-label>Descuento</ion-label>
      <ion-select [(ngModel)]="cotizacion.descuento">
        <ion-option value="0">0%</ion-option>
        <ion-option value="10">10%</ion-option>
        <ion-option value="12">12%</ion-option>
        <ion-option value="14">14%</ion-option>
        <ion-option value="15">15%</ion-option>
      </ion-select>
    </ion-item>


    <ion-item *ngIf="verplazo">
      <ion-label>Plazo</ion-label>
      <ion-select [(ngModel)]="cotizacion.plazo">
        <ion-option value="0">0</ion-option>
        <ion-option value="10">10</ion-option>
        <ion-option value="15">15</ion-option>
        <ion-option value="30">30</ion-option>
        <ion-option value="45">45</ion-option>
      </ion-select>
    </ion-item>


  </ion-list>

  <ion-fab bottom left slot="fixed">
    <button ion-fab primary (click)="getproductos($event)">
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-fab>


  <ion-list>
    <ion-item-sliding *ngFor="let item of cot_dets">
      <ion-item>
        <p text-wrap>
          {{item.codigo}} {{item.descripcion}}
        </p>
        <p>
          Precio: {{item.precio | number}} | Cant: {{item.cant}} | Total Item: {{item.subtotal | number}}
        </p>
        <ion-icon *ngIf="!item.valido" name="alert" item-end></ion-icon>
      </ion-item>
      <ion-item-options>
        <button *ngIf="!cotizacion.cot_closed" ion-button color="danger" icon-start (click)="itemDeleted(item)">
          <ion-icon name="text"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col col-3 justify-content-start>
        Descuento
      </ion-col>
      <ion-col col-3 align-self-end>
        <span class="right">
          {{cotizacion.cot_desc | number}}
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 justify-content-start>
        Subtotal
      </ion-col>
      <ion-col col-3 align-self-end>
        <span class="right">
          {{cotizacion.cot_subtotal | number}}
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 justify-content-start>
        Impuesto
      </ion-col>
      <ion-col col-3 align-self-end>
        <span class="right">
          {{cotizacion.cot_impuesto | number}}
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 justify-content-start>
        Total
      </ion-col>
      <ion-col col-3 align-self-end>
        <span class="right">
          {{cotizacion.cot_total | number}}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item *ngIf="cotizacion.cot_closed">
      Cerrado
      <ion-icon item-end *ngIf="cotizacion.cot_closed" name="checkmark"></ion-icon>
    </ion-item>
    <ion-item *ngIf="cotizacion.cot_procesado">
      Procesado
      <ion-icon item-end *ngIf="cotizacion.cot_procesado" name="checkmark"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-textarea placeholder="Observación" type="text" name="cot_note" autocomplete="on" autocorrect="on"
      [(ngModel)]="cotizacion.cot_note"></ion-textarea>
  </ion-item>


</ion-content>